.header {
  border-bottom: 1px solid var(--ion-color-lighter);
}

.metainfo {
  font-size: 14px;
}

.content * {
  all: unset !important;
}

.content div,
.content figure,
.content p,
.content img {
  display: block !important;
}

.content p {
  margin-top: 0;
  margin-bottom: 0;
}

.content p:first-of-type img {
  margin-top: 0;
}

.content img {
  max-width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  vertical-align: top;
}

.content img + img {
  margin-top: 0;
}

.content iframe {
  width: 100%;
  height: calc(calc(100vw - 32px) * 0.5625);
  aspect-ratio: 16/9;
  border: 0;
  vertical-align: top;
}
