.header {
  border-bottom: 1px solid var(--ion-color-lighter);
}

.metainfo {
  font-size: 14px;
}

.content {
  white-space: pre-line;
}

.content > *[style] {
  all: unset !important;
  display: block !important;
}

.content p {
  margin-top: 0;
  margin-bottom: 0;
}

.content p:first-of-type img {
  margin-top: 0;
}

.content picture {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  padding: 0.5rem;
}

.content picture::before {
  content: '이미지 열기';
}

.content picture:global(.is-done) {
  padding: 0;
  border: 0;
}

.content picture:global(.is-done)::before {
  content: none;
}

.content img {
  max-width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  vertical-align: top;
}

.content img + img {
  margin-top: 0;
}

.content iframe {
  width: 100%;
  height: calc(calc(100vw - 32px) * 0.5625);
  aspect-ratio: 16/9;
  border: 0;
  vertical-align: top;
}
