.header {
  border-bottom: 1px solid var(--ion-color-light);
}

.metainfo {
  font-size: 14px;
}

.replies {
  border-top: 1px solid var(--ion-color-light);
}

.content p {
  margin-top: 0;
  margin-bottom: 0;
}
